<h1>Welcome to place2b events !</h1>
<div class="center hero-unit">Inscrivez-vous pour recevoir toutes les informations concernant les soirées place2b à venir.

	<div><%=link_to "Je m'inscris!", new_user_path, :class=>"btn btn-large btn-primary"%></div>

</div>
